@model USSC.Web.ViewModels.Account.LoginViewModel

<h1>Вход в систему</h1>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">

    <div class="input">
        <label asp-for="Email">
            Эл. почта:
            <input type="text" asp-for="Email" />
        </label>
    </div>

    <div class="input">
        <label asp-for="Password">
            Пароль:
            <input asp-for="Password" />
        </label>
    </div>

    <div class="ml-120 mb-20 danger" asp-validation-summary="All">
    </div>

    <button class="button button-primary ml-120">Войти</button>
</form>