
@{
    ViewData["Title"] = "Registration";
}

@model RegistrationViewModel


<h1 class="display-4">Регистрация</h1>

<form asp-action="Registration" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group col-lg-4">
            <label asp-for="Email">Введите Email</label><br />
            <input class="form-control" type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="Name">Введите Имя</label><br />
            <input class="form-control" type="text" asp-for="Name" />
            <span class="invalid-feedback" asp-validation-for="Name" />
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="LastName">Введите Фамилию</label><br />
            <input class="form-control" type="text" asp-for="LastName" />
            <span class="invalid-feedback" asp-validation-for="LastName" />
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="Role">Введите пароль</label><br />
            <select class="form-control" asp-for="Role">
                
            </select>
            <span class="invalid-feedback" asp-validation-for="Password" />
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="Password">Введите пароль</label><br />
            <input class="form-control" asp-for="Password" />
            <span class="invalid-feedback" asp-validation-for="Password" />
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input class="form-control" asp-for="ConfirmPassword" />
            <span class="invalid-feedback" asp-validation-for="ConfirmPassword" />
        </div>
        <div class="form-group col-lg-3">
            <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Регистрация" />
        </div>
    </div>
</form>
