
@model USSC.Web.ViewModels.Account.RegistrationViewModel

<h1>Добавление нового пользователя</h1>

<form asp-action="Registration" asp-controller="Account" asp-anti-forgery="true">

    <div class="input">
        <label asp-for="Email">
            Эл. почта:
            <input type="email" asp-for="Email" />
        </label>
    </div>

    <div class="input">
        <label asp-for="Phone">
            Телефон:
            <input type="tel" asp-for="Phone" />
        </label>
    </div>

    <div class="input">
        <label asp-for="LastName">
            Фамилия:
            <input type="text" asp-for="LastName" />
        </label>
    </div>

    <div class="input">
        <label asp-for="Name">
            Имя:
            <input type="text" asp-for="Name" />
        </label>
    </div>

    <div class="input">
        <label asp-for="Patronymic">
            Отчество:
            <input type="text" asp-for="Patronymic" />
        </label>
    </div>

    <div class="checkbox">
        <label class="main-label" asp-for="Roles">
            Роль:
            <div class="checkbox__wrapper">
                @for (var i = 0; i < Model.Roles.Count; i++)
                {
                    <label asp-for="Roles[i].IsOptionSelected">
                        <input type="checkbox" asp-for="Roles[i].IsOptionSelected"> @Model.Roles[i].Name
                        <input type="text" asp-for="Roles[i].Name" value="@Model.Roles[i].Name" hidden />
                    </label>
                }
            </div>
        </label>
    </div>

    <div class="input">
        <label asp-for="Password">
            Пароль:
            <input type="password" asp-for="Password" />
        </label>
    </div>

    <div class="input">
        <label asp-for="ConfirmPassword">
            Повтор:
            <input type="password" asp-for="ConfirmPassword" />
        </label>
    </div>

    <div class="ml-120 mb-20 danger" asp-validation-summary="All">
    </div>

    <button type="submit" class="button button-primary mt-10 ml-120">Добавить</button>
</form>
