@model EventLogViewModel

<h1>Журнал событий</h1>

<div class="dropdown">
    <div class="dropdown__current">@Model.Dates[Model.CurrentDate].ToString("dd/MM/yyyy") <span></span></div>
    <div class="dropdown__droplist d-none">
        @for (var i = 0; i < Model.Dates.Count; i++)
        {
            <a asp-controller="Admin" asp-action="EventLog" asp-route-current=@i>
                @Model.Dates[i].ToString("dd/MM/yyyy")
            </a>
        }
    </div>
</div>

<div class="logs">
    @foreach (var log in Model.Logs)
    {
        <p>@log</p>
    }
</div>
